body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #020730;
    background-image:
    radial-gradient(#5f5d5da2,#0000005a),
    linear-gradient(to left, 
    #0000007f 99.5%,
    #ffffff3b 0.5%),
    linear-gradient(#0000004a 99.5%,#ffffff4d 0.5%);
    background-size: 100% 100%, 200px 200px ,200px 200px;
}
.card{
    position: absolute;
    width: 300px;
    height: 500px;
    background-image: url("goku.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
    animation: bgAnimation 30s linear infinite alternate-reverse;
    transition: transform 0.3s ease-in-out;
    transform: rotateX(35deg) rotateY(15deg) rotateZ(-35deg)
    translateZ(200px);
    z-index: 3;
    transform-origin: center;
    box-shadow: 0px 0px 0px 5px #000, 0px 1px 0px 6px #252525,
    -1px 0px 0px 6px #4d4d4c, -1px 1px 0px 6px #252525;
}
.card:nth-child(2){
    background-image: url("im1.jpg");
    transform: rotateX(35deg) rotateY(15deg) rotateZ(-35deg)
    translateX(-15px) translateY(30px) translateZ(100px);
    z-index: 2;
    animation-delay: 0.1s;
    animation-duration: 35s;
}
.card:nth-child(3){
    background-image: url("sukuna1.jpg");
    transform: rotateX(35deg) rotateY(15deg) rotateZ(-35deg)
    translateX(-30px) translateY(60px) translateZ(0px);
    z-index: 1;
}
@keyframes bgAnimation{
    from{
        background-position: right center;
    }
    to{
        background-position: left center;
    }
}
.content{
    backdrop-filter: blur(10px);
    background-color: #00000012;
    border-radius: 10px;
    font-family: monospace;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ffffff10;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #ffffff8f;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}
.content .title{
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid #ffffff22;
}
.content .title p{
    margin: 0;
    margin-bottom: 1rem;
    font-weight: bolder;
}
.content .type{
    display: flex;
    flex: 1 ;
    padding: 1rem;
}
.content .view{
    font-size: 1.5em;
    padding: 1em;
    display: flex;
    border-right: 1px solid #ffffff22;
    border-top: 1px solid #ffffff22;
}
.content .caption{
    flex: 1;
    font-size: 0.1em;
    padding: 1rem;
    color: #ffffffa4;
    border-top: 1px solid #ffffff22;
}
.content:hover{
    transform: scale(1.03);
    animation:contentAnimation 1s cubic-bezier(0.19, 1, 0.22, 1) 1 forwards;
} 
@keyframes contentAnimation{
    to{
        box-shadow: 0px 0px 15px 20px rgb(255, 255, 255,0.5);
    }
}
.cards{
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.cards:hover .card:nth-child(1){
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    translateX(0px) translateY(0px) translateZ(0px);
}
.cards:hover .card:nth-child(2){
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    translateX(-350px) translateY(0px) translateZ(0px);
}
.cards:hover .card:nth-child(3){
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    translateX(350px) translateY(0px) translateZ(0px);
}